version: '4.1'

services:
  frontend:
    build: ./app
    ports:
      - 3000:3000
    restart: always

  backend:
    build: ./hotels
    ports:
      - 80:80
    restart: always
    extra_hosts:
      - 'host.docker.internal:host-gateway'

  mongo_diploma_3:
    image: mongo:7.0
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: denis
      MONGO_INITDB_ROOT_PASSWORD: chigvintsev
    ports:
      - 506:27017
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    volumes:
      - mongo_diploma_3:/data/db

volumes:
  mongo_diploma_3:
    driver: local
