.App {
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}

.menu {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  margin: 5px;
  padding: 5px;
}

a {
  text-decoration: none;
  color: white;
}
